{% extends 'base.html' %}
{% block title %}
    <link rel="icon" href="{{ static('favicon.ico') }}">
    <title>jinja2</title>
{% endblock %}

{% block body %}
<div>{{ value['name'] }}</div>
<div>
    {{ value['name'] | replace('Python','Jinja2') }}
</div>
{% for k,v in value.items() %}
    <div>value is {{ v }}</div>
    <div>key is {{ k }}</div>
{% endfor %}
{% if value %}
<div>This is if</div>
{% else %}
    <div>This is else</div>
{% endif %}
<a href="{{ url('index:index') }}">首页</a>
{% endblock %}